openapi: 3.0.3
info:
  title: Faker Addresses Users API
  description: "FakerAPI is a free, no-authentication REST API that returns realistic fake\ndata for developers, designers, and QA engineers. It is built on top of the\nPHP Faker library and exposes a single shape of GET endpoints for every\nresource: addresses, books, companies, images, persons, places, products,\ntexts, users, and a fully custom resource builder.\n\nEvery endpoint accepts the same three control parameters:\n  * `_quantity` (1-1000, default 10)\n  * `_locale` (60+ locales, default `en_US`)\n  * `_seed` (any integer, for reproducible payloads)\n\nAll responses share an identical envelope: `status`, `code`, `locale`,\n`seed`, `total`, and a `data` array of resource objects.\n"
  version: 1.0.0
  contact:
    name: Alessandro Pietrantonio
    url: https://fakerapi.it/en
  license:
    name: Open Source
    url: https://github.com/pietrantonio91/faker-api
servers:
- url: https://fakerapi.it/api/v1
  description: FakerAPI v1 (stable)
tags:
- name: Users
  description: Generate fake application user accounts.
paths:
  /users:
    get:
      tags:
      - Users
      operationId: listUsers
      summary: List Fake Users
      description: Return a collection of fake application user accounts.
      parameters:
      - $ref: '#/components/parameters/Quantity'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Seed'
      - name: _gender
        in: query
        required: false
        description: Restrict generated accounts to a single gender (`male` or `female`).
        schema:
          type: string
          enum:
          - male
          - female
      responses:
        '200':
          description: A collection of fake users.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/User'
components:
  parameters:
    Locale:
      name: _locale
      in: query
      required: false
      description: Locale code controlling language/region of generated data (e.g. `en_US`, `fr_FR`, `it_IT`). Default `en_US`.
      schema:
        type: string
        default: en_US
        example: en_US
    Quantity:
      name: _quantity
      in: query
      required: false
      description: Number of records to return (1-1000). Default 10.
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 10
    Seed:
      name: _seed
      in: query
      required: false
      description: Integer seed for deterministic, reproducible output.
      schema:
        type: integer
        example: 42
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          example: 1
        uuid:
          type: string
          format: uuid
          example: e36e99b7-9bc4-3318-8ab5-98c34f6d4cd6
        firstname:
          type: string
          example: Urban
        lastname:
          type: string
          example: Donnelly
        username:
          type: string
          example: ctreutel
        password:
          type: string
          example: nLxG^d;zF!gSAHFHl
        email:
          type: string
          format: email
          example: rowena45@hotmail.com
        ip:
          type: string
          example: 33.219.15.137
        macAddress:
          type: string
          example: 34:CD:68:58:87:4B
        website:
          type: string
          format: uri
          example: http://thiel.com
        image:
          type: string
          format: uri
          example: http://placeimg.com/640/480/people
    Envelope:
      type: object
      required:
      - status
      - code
      - locale
      - total
      - data
      properties:
        status:
          type: string
          example: OK
        code:
          type: integer
          example: 200
        locale:
          type: string
          example: en_US
        seed:
          type: string
          nullable: true
          example: '42'
        total:
          type: integer
          example: 10
        data:
          type: array
          items:
            type: object
