openapi: 3.0.3
info:
  title: Faker Addresses Images API
  description: "FakerAPI is a free, no-authentication REST API that returns realistic fake\ndata for developers, designers, and QA engineers. It is built on top of the\nPHP Faker library and exposes a single shape of GET endpoints for every\nresource: addresses, books, companies, images, persons, places, products,\ntexts, users, and a fully custom resource builder.\n\nEvery endpoint accepts the same three control parameters:\n  * `_quantity` (1-1000, default 10)\n  * `_locale` (60+ locales, default `en_US`)\n  * `_seed` (any integer, for reproducible payloads)\n\nAll responses share an identical envelope: `status`, `code`, `locale`,\n`seed`, `total`, and a `data` array of resource objects.\n"
  version: 1.0.0
  contact:
    name: Alessandro Pietrantonio
    url: https://fakerapi.it/en
  license:
    name: Open Source
    url: https://github.com/pietrantonio91/faker-api
servers:
- url: https://fakerapi.it/api/v1
  description: FakerAPI v1 (stable)
tags:
- name: Images
  description: Generate fake image references (titles, descriptions, URLs).
paths:
  /images:
    get:
      tags:
      - Images
      operationId: listImages
      summary: List Fake Images
      description: Return a collection of fake image references with a title, description, and placeholder URL.
      parameters:
      - $ref: '#/components/parameters/Quantity'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Seed'
      - name: _type
        in: query
        required: false
        description: Image category (people, business, nature, etc.) used in the placeholder URL.
        schema:
          type: string
          example: people
      - name: _width
        in: query
        required: false
        description: Placeholder image width in pixels.
        schema:
          type: integer
          example: 640
      - name: _height
        in: query
        required: false
        description: Placeholder image height in pixels.
        schema:
          type: integer
          example: 480
      responses:
        '200':
          description: A collection of fake images.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Image'
components:
  parameters:
    Locale:
      name: _locale
      in: query
      required: false
      description: Locale code controlling language/region of generated data (e.g. `en_US`, `fr_FR`, `it_IT`). Default `en_US`.
      schema:
        type: string
        default: en_US
        example: en_US
    Quantity:
      name: _quantity
      in: query
      required: false
      description: Number of records to return (1-1000). Default 10.
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 10
    Seed:
      name: _seed
      in: query
      required: false
      description: Integer seed for deterministic, reproducible output.
      schema:
        type: integer
        example: 42
  schemas:
    Envelope:
      type: object
      required:
      - status
      - code
      - locale
      - total
      - data
      properties:
        status:
          type: string
          example: OK
        code:
          type: integer
          example: 200
        locale:
          type: string
          example: en_US
        seed:
          type: string
          nullable: true
          example: '42'
        total:
          type: integer
          example: 10
        data:
          type: array
          items:
            type: object
    Image:
      type: object
      properties:
        title:
          type: string
          example: Sunt unde delectus enim.
        description:
          type: string
          example: Ut iusto et sit eaque et eum molestiae hic.
        url:
          type: string
          format: uri
          example: https://picsum.photos/640/480
